rpcuser={{ pwd_user }}
rpcpassword={{ pwd_pass }}
rpcport=18231
rpcallowip=127.0.0.1
server=1
daemon=1
listen=1
txindex=1
logtimestamps=1

tlscertpath=/etc/zenssl/{{hname}}/{{hname}}.cer
tlskeypath=/etc/zenssl/{{hname}}/{{hname}}.key

